/historic_optionChain/api/token/
/historic_optionChain/api/logs/
/historic_optionChain/api/instrument/

/node_modules/
/venv/
/historic_optionChain/api/api.py

# Local environment configuration
.env

/aws/
/.venv/

aws/aws-credential.ini
aws/aws-instance-server/password.txt
aws/aws-instance-server/window-server-aws.rdp
aws/aws-instance-server/windows-server-aws.pem
aws/aws-postgresql/user-password.txt


